<div class="container mt-5">
  <div *ngIf="loading"
    class="position-fixed top-0 start-0 w-100 h-100 bg-light d-flex justify-content-center align-items-center"
    style="opacity: 0.9;">
    <button class="btn btn-success" type="button">
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span role="status">Loading...</span>
    </button>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-7 col-lg-5 shadow p-5 m-5">
      <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
        <div class="mb-3 text-center">
          <h2 class="text-primary">Reset Password</h2>
        </div>

        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            required
            minlength="6"
            #newPasswordRef="ngModel"
          />
          <div
            *ngIf="newPasswordRef.invalid && newPasswordRef.touched"
            class="text-danger mt-2"
          >
            Password must be at least 6 characters
          </div>
        </div>

        <div class="mb-3 mt-2 text-center d-grid">
          <button class="btn btn-success p-2 fs-5" type="submit" [disabled]="resetForm.invalid">
            Reset Password
          </button>
        </div>

        <p class="text-center mt-3">
          Back to <a class="btn btn-primary" routerLink="/login">Login</a>
        </p>
      </form>
    </div>
  </div>
</div>
